doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title The Console Corner
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://kit.fontawesome.com/a076d05399.js', crossorigin='anonymous')
  body
    header
      h1 The Console Corner
      nav
        ul
          li
            a(href='#') Home
          li
            a(href='/featured') Featured
          li.cart
            a(href='/cart')
              i.fas.fa-shopping-cart
              |  Cart
    .app-container
      .products-container
        .product-item
          img(src='ConsoleImg/ps5.png', alt='PS5')
          h3 Sony - Play Station 5 Slim Console - White
          p.product-price  $499.99
          button.add-to-cart +
         
        .product-item
          img(src='path/to/image2.jpg', alt='Product Image 2')
          h3 Nintendo - Switch - OLED Model w/ White Joy-Con - White
          p.product-price $349.99
          button.add-to-cart +
          
        .product-item
          img(src='path/to/image2.jpg', alt='Product Image 2')
          h3 Microsoft - Xbox Series X 1TB Console - Black
          p.product-price $499.99
          button.add-to-cart +
         
        .product-item
          img(src='path/to/image2.jpg', alt='Product Image 2')
          h3 Nintendo - Switch 32GB Lite - Turquoise
          p.product-price $199.99
          button.add-to-cart +
          
        .product-item
          img(src='path/to/image2.jpg', alt='Product Image 2')
          h3 Logitech - G CLOUD Gaming Handheld Console - White
          p.product-price $299.99
          button.add-to-cart +
          
        .product-item
          img(src='path/to/image2.jpg', alt='Product Image 2')
          h3 Nintendo - Switch 32GB Lite - Coral
          p.product-price $199.99
          button.add-to-cart +
          
        // ... More .product-item blocks as needed ...
    footer
      p &copy; 2024 The Console Corner
    script(src='scripts.js')
