doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title The Console Corner
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://kit.fontawesome.com/a076d05399.js', crossorigin='anonymous')
  body
    header
      h1 The Console Corner
      nav
        ul
          li
            a(href='#') Home
          li
            a(href='/featured') Featured
          li.cart
            a(href='/cart')
              i.fas.fa-shopping-cart
              |  Cart
    .app-container
      .products-container
        .product-item
          img(src='path/to/image1.jpg', alt='Product Image 1')
          h3 Product Name 1
          p Product Description 1
          p Price: $xx.xx
         
        .product-item
          img(src='path/to/image2.jpg', alt='Product Image 2')
          h3 Product Name 2
          p Product Description 2
          p Price: $xx.xx
          
        .product-item
          img(src='path/to/image2.jpg', alt='Product Image 2')
          h3 Product Name 2
          p Product Description 2
          p Price: $xx.xx
         
        .product-item
          img(src='path/to/image2.jpg', alt='Product Image 2')
          h3 Product Name 2
          p Product Description 2
          p Price: $xx.xx
          
        .product-item
          img(src='path/to/image2.jpg', alt='Product Image 2')
          h3 Product Name 2
          p Product Description 2
          p Price: $xx.xx
          
        .product-item
          img(src='path/to/image2.jpg', alt='Product Image 2')
          h3 Product Name 2
          p Product Description 2
          p Price: $xx.xx
          
        // ... More .product-item blocks as needed ...
    footer
      p &copy; 2024 The Console Corner
    script(src='scripts.js')
